<h1>Editing employee datum</h1>

<%= render "form", employee_datum: @employee_datum %>

<br>

<div>
  <%= link_to "Show this employee datum", @employee_datum %> |
  <%= link_to "Back to employee data", employee_data_path %>
</div>
