<h1><%= t('.title') %></h1>

<%= render "form", grant_rule: @grant_rule %>

<br>

<div>
  <%= link_to t('shared.show'), @grant_rule %> |
  <%= link_to t('shared.go_back'), grant_rules_path %>
</div>
<br>
<br>
