<% content_for :title, flush: true do %>
    <b><%= grant_type.name %></b>
<% end %>
<%= render 'shared/dropdown_item', {d: dom_id(grant_type), edit_path: edit_grant_type_path(grant_type), obj: grant_type, opened: false} do %>
    <div style="padding-right:1rem;">
        <%= grant_type.description %>
    </div>
    <div style="padding-right:1rem;">
        <%= t('shared.grant_type.cliff_message_html', percentage: grant_type.cliff_percentage )%>
    </div>
<% end %>