<% content_for :title, flush: true do %>
    <b><%= field.name %></b>
<% end %>
<%= render 'shared/dropdown_item', {d: dom_id(field), edit_path: edit_field_path(field), obj: field, opened: false} do %>
    <div style="padding-right:1rem;">
        <%= field.description %></b>
    </div>
    <div style="padding-right:1rem;">
        <%= t('shared.field.field_type_html', field_type: translate_field_type(field.field_type)) %>
    </div>
<% end %>